xsd/config-2.0.0.xsd

<?xml version="1.0"?>
<!-- =================== DO NOT EDIT THIS FILE ====================         -->
<!-- Generated by Modello 2.1.1,                                            -->
<!-- any modifications will be overwritten.                                 -->
<!-- ==============================================================         -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://fedorahosted.org/xmvn/CONFIG/3.2.0" targetNamespace="http://fedorahosted.org/xmvn/CONFIG/3.2.0">
  <xs:element name="configuration" type="Configuration">
    <xs:annotation>
      <xs:documentation source="version">0.4.0+</xs:documentation>
      <xs:documentation source="description">
        Root element of the configuration file.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Configuration">
    <xs:annotation>
      <xs:documentation source="version">0.4.0+</xs:documentation>
      <xs:documentation source="description">
        Root element of the configuration file.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="properties">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">This element lists system Java properties that should be set before XMvn build is started.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="repositories">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">List of repositories. Repositories can be used by resolvers as source of artifacts, by installers as target where artifacts should be installed, or by any other component.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="Repository" name="repository" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="buildSettings" type="BuildSettings">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">This element contains basic XMvn settings.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="artifactManagement">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">This element configures how artifacts should be assigned to individual packages.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="PackagingRule" name="rule" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="resolverSettings" type="ResolverSettings">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">This element contains configuration of XMvn resolver.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="installerSettings" type="InstallerSettings">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">This element contains configuration of XMvn installer.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Repository">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">Artifact repository.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Unique string identifying this repository.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="type" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Role hint of Plexus component implementing the repository.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="stereotypes">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">List of artifact types that can be stored in this repository. Empty list means that this repository can store any artifact type.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="Stereotype" name="stereotype" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="properties">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Properties associated with this repository. Properties can be freely used by the implementation, so their exact meaning depends on repository type. See documentation for repository types to see list of supported properties.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="configuration">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Arbitrary XML used to configure structure of the repository. Configuration can be freely used by the implementation, so their exact meaning depends on repository type. See documentation for repository types to see the format of supported configuration (if any).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="filter">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">A boolean expression describing which artifacts can be stored in this repository.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Stereotype">
    <xs:annotation>
      <xs:documentation source="version">1.0.0+</xs:documentation>
      <xs:documentation source="description">Stereotype of Maven artifact.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="type" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Type ID of the stereotype.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="extension" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Extension of the artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="classifier" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Classifier of the artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ResolverSettings">
    <xs:annotation>
      <xs:documentation source="version">0.4.0+</xs:documentation>
      <xs:documentation source="description">XMvn settings related to resolution of artifacts.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="debug" type="xs:boolean">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">Whether detailed debugging information about artifact resolution process should be logged.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="localRepositories">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">List of local repositories where XMvn will look for artifacts.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="repository" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="metadataRepositories">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">List of repositories where XMvn will look for metadata files.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="repository" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ignoreDuplicateMetadata" type="xs:boolean">
        <xs:annotation>
          <xs:documentation source="version">3.0.0+</xs:documentation>
          <xs:documentation source="description">Whether XMvn should refuse to resolve artifact that have more than a single piece of metadata.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="prefixes">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">List of prefixes that XMvn resolver will prepend to system repositories.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="prefix" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="blacklist">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">List of blacklisted artifacts which will not be resolved.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="Artifact" name="artifact" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Artifact">
    <xs:annotation>
      <xs:documentation source="version">0.4.0+</xs:documentation>
      <xs:documentation source="description">Identifier of Maven artifact.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="groupId" type="xs:string" default="">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">Group ID of the artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="artifactId" type="xs:string" default="">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">Artifact ID of the artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="version" type="xs:string" default="">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">Version of the artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="classifier" type="xs:string" default="">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Classifier of the artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="stereotype" type="xs:string" default="">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Maven stereotype of the artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="extension" type="xs:string" default="">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Extension of the artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="InstallerSettings">
    <xs:annotation>
      <xs:documentation source="version">0.4.0+</xs:documentation>
      <xs:documentation source="description">XMvn settings related to installation of artifacts.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="debug" type="xs:boolean">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">Whether additional debugging information about artifact nstallation should be printed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="metadataDir" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">Directory into which XMvn metadata files are be installed.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="PackagingRule">
    <xs:annotation>
      <xs:documentation source="version">0.4.0+</xs:documentation>
      <xs:documentation source="description">Identification of Maven Artifact.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="artifactGlob" type="Artifact">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">Pattern specifying one or more Maven artifacts.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="targetPackage" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">Name of binary package into which artifacts are assigned.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="targetRepository" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">ID of repository into which artifacts are installed.  </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="files">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">Files holding the artifact.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="file" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="versions">
        <xs:annotation>
          <xs:documentation source="version">1.0.0+</xs:documentation>
          <xs:documentation source="description">Compatibility versions of the artifact.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="version" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="aliases">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">Alternative identifiers of artifacts.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="Artifact" name="alias" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="optional" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation source="version">0.5.0+</xs:documentation>
          <xs:documentation source="description">Whether this rule is optional. Non-optional rules cause uild failure if they are not matched.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="BuildSettings">
    <xs:annotation>
      <xs:documentation source="version">0.4.0+</xs:documentation>
      <xs:documentation source="description">Basic build settings.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="debug" type="xs:boolean">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">Whether detailed debugging information about the build process should be logged.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="skipTests" type="xs:boolean">
        <xs:annotation>
          <xs:documentation source="version">0.4.0+</xs:documentation>
          <xs:documentation source="description">Whether compilation and execution of unit and integration tests should be skipped.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="skippedPlugins">
        <xs:annotation>
          <xs:documentation source="version">3.2.0+</xs:documentation>
          <xs:documentation source="description">List of plugins which will not be executed during build.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="Artifact" name="plugin" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>