xsd/metadata-2.0.0.xsd

<?xml version="1.0"?>
<!-- =================== DO NOT EDIT THIS FILE ====================         -->
<!-- Generated by Modello 1.8.2,                                            -->
<!-- any modifications will be overwritten.                                 -->
<!-- ==============================================================         -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://fedorahosted.org/xmvn/METADATA/2.3.0" targetNamespace="http://fedorahosted.org/xmvn/METADATA/2.3.0">
  <xs:element name="metadata" type="PackageMetadata">
    <xs:annotation>
      <xs:documentation source="version">2.0.0+</xs:documentation>
      <xs:documentation source="description">
        Root element of the metadata file.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PackageMetadata">
    <xs:annotation>
      <xs:documentation source="version">2.0.0+</xs:documentation>
      <xs:documentation source="description">
        Root element of the metadata file.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="uuid" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Universally unique identifier of this piece of metadata.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="properties">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Properties of this piece of metadata.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="artifacts">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">List of installed artifacts described by this piece of metadata.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="artifact" minOccurs="0" maxOccurs="unbounded" type="ArtifactMetadata"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="skippedArtifacts">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">List of artifacts built but not installed in any package. Useful for detecting broken package dependencies.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="skippedArtifact" minOccurs="0" maxOccurs="unbounded" type="SkippedArtifactMetadata"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="SkippedArtifactMetadata">
    <xs:annotation>
      <xs:documentation source="version">2.0.0+</xs:documentation>
      <xs:documentation source="description">Information about artifact which was built, but not installed into any package.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="groupId" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Group ID of skipped artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="artifactId" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Artifact ID of skipped artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="extension" type="xs:string" default="jar">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Extension of skipped artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="classifier" type="xs:string" default="">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Classifier of skipped artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ArtifactMetadata">
    <xs:annotation>
      <xs:documentation source="version">2.0.0+</xs:documentation>
      <xs:documentation source="description">Information about a single artifact.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="groupId" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Group identifier of the artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="artifactId" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Identifier of the artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="extension" type="xs:string" default="jar">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Extension of artifact file.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="classifier" type="xs:string" default="">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Classifier of the artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="version" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Artifact version. This is always upstream version, never compat version nor SYSTEM.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="path" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Absolute path to artifact file stored in the local file system.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="namespace" type="xs:string" default="">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">A namespace within which this artifact is stored. This usually is an identifier of software collection.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uuid" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Universally unique identifier of this artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="properties">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Extra properties of this artifact.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="compatVersions">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Compatibility versions of this artifact. If the list is empty then this artifact is not considered as compatibility artifact.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="version" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="aliases">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Alternative identifiers of the artifact.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="alias" minOccurs="0" maxOccurs="unbounded" type="ArtifactAlias"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="dependencies">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">List of artifact dependencies.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="dependency" minOccurs="0" maxOccurs="unbounded" type="Dependency"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ArtifactAlias">
    <xs:annotation>
      <xs:documentation source="version">2.0.0+</xs:documentation>
      <xs:documentation source="description">Alternative artifact identification coordinates.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="groupId" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Group ID of the artifact alias.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="artifactId" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Artifact ID of the artifact alias.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="extension" type="xs:string" default="jar">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Extension of the artifact alias.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="classifier" type="xs:string" default="">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Classifier of the artifact alias.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="Dependency">
    <xs:annotation>
      <xs:documentation source="version">2.0.0+</xs:documentation>
      <xs:documentation source="description">Description of dependency artifact.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="groupId" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Group ID of the dependency artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="artifactId" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Artifact ID of the dependency artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="extension" type="xs:string" default="jar">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Extension of the dependency artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="classifier" type="xs:string" default="">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Classifier of the dependency artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="requestedVersion" type="xs:string" default="SYSTEM">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Version of the dependency artifact as defined in the main artifact descriptor. This may be a version range as supported by Aether.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="resolvedVersion" type="xs:string" default="SYSTEM">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Version of the dependency artifact, as resolved during build. Absence of this field indicates a dependency on default artifact version.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="namespace" type="xs:string" default="">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">A namespace within which this artifact is stored. This usually is an identifier of software collection.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="optional" type="xs:boolean">
        <xs:annotation>
          <xs:documentation source="version">2.3.0+</xs:documentation>
          <xs:documentation source="description">Specifies whether given dependency is optional or not.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="exclusions">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">List of dependency exclusions.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="exclusion" minOccurs="0" maxOccurs="unbounded" type="DependencyExclusion"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="DependencyExclusion">
    <xs:annotation>
      <xs:documentation source="version">2.0.0+</xs:documentation>
      <xs:documentation source="description">Description of artifact excluded from dependency tree.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="groupId" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Group ID of the excluded artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="artifactId" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">2.0.0+</xs:documentation>
          <xs:documentation source="description">Artifact ID of the excluded artifact.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>